*{
    padding: 0;
    margin: 0;
    font-family: arial;
    scroll-behavior: smooth;
}

/* Color Variable here */
:root{
    --bgColorDark: #333333;
    --headerColor: #070b09;
    --whiteTextOnDark:rgb(255, 255, 255);
    
    /* Color Palette */
    --grayColorDark: #363738;
    --blueWaterColor: #1D64C2;
    --bleWaterColorTransparent: #1d64c2b9;
    --skyBlueColor: #7fadeb;
    --tipBlueColor: #d9E8FC;
    --grayColorLight: #8792A1;
    
}

/* Fonts Here */
@font-face {
    font-family: Huglove;
    src: url("sources/fonts/Huglove.otf");
}
@font-face {
    font-family: kids;
    src: url("sources/fonts/cChildrenKids.ttf");
}

@font-face {
    font-family: Hugies;
    src: url("sources/fonts/Hugamour.ttf");
}

@font-face {
    font-family: smile;
    src: url("sources/fonts/Violet Smile.ttf");
}
@font-face {
    font-family: vanilla;
    src: url("sources/fonts/Vanilla Caramel.otf");
}

body{
   background-color: var(--tipBlueColor);
}

h1{
    font-family: Hugies;
}
p{
    font-family: smile;
    font-size: 24px;
    color: var(--grayColorDark);
}
/* Navbar starts here */
header{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--blueWaterColor); 
    align-items: center;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
}

header span{
    
    font-family: Huglove;
    font-weight: bold;
    margin-left: 5rem;
    color: var(--tipBlueColor);
    padding: 2rem;
    font-size: 64px;
}

.nav-links{
    margin-right: 7rem;
    text-align: right;
}

.nav-links ul{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 10px;
}

.nav-links li a{
    padding: .5rem;
    font-size: 18px;
    font-family: Verdana;
    text-decoration: none;
    color: var(--tipBlueColor);
}

.nav-links li:hover{
    background-color: var(--grayColorLight);
    transition: .6s;    
}

/* Navbar end Here */

/* Carousel */

.png-carousel{
    height: 100vh;
    padding-top: 11.6rem;
    padding-bottom: 6.6rem;
    text-align: center;
    background-color: var(--bleWaterColorTransparent);
    /* border-radius: 1rem; */
}
.png-carousel p{
    padding: .6rem;
}
.png-carousel h1{
    font-size: 76px;
    color: var(--tipBlueColor);
    /* font-family: HugLove; */
}

.carousel-img{

    display: flexbox;
    padding: .4rem;
    width: 500px;
    height: 500px;
    border-radius: 1rem;
}

.carousel-img:hover{
    cursor: pointer;
}
/* End of Carousel */

/* Collections */
.collections{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top:9.6rem ;
    padding-bottom: 7.6rem;
    background-color: var(--grayColorDark);
}

.collections h1{
    font-family: HugLove;
    padding-bottom: .6rem;
    font-size: 76px;
    color: var(--blueWaterColor);
}

.collections p{
    padding: .7rem;
    color: var(--tipBlueColor);
}
/* End of Collections */


/* Start of Shop */
.shop{
    height: 100vh;
    padding-top: 10.6rem ;
    padding-bottom: 7.6rem;
    background-color: var(--skyBlueColor);
    display: flex;
}

.shop h1{
    font-size: 128px;
    align-self: flex-end;
}

.shop-img {
    padding-bottom: 0px;
    width: 440px;
    height: 540px;
    border-radius: 7px;
    
}
.shop h1{
    color: var(--tipBlueColor);
    padding: 1.75;
}

.shop p{
    color: var(--bgColorDark);
    font-size: 42px;
    padding: 1.75rem;
}
button{
    cursor: pointer;
    background-color: var(--tipBlueColor);
    padding: 10px 25px;
    border: none;
    border-radius: 18px;
    transition: 1s;
    margin: 1rem;
    border: 3px solid transparent;
    font-weight: 600;
    color:var(--blueWaterColor);    
    font-size: 28px;
    font-family: smile;

}
button:hover{
    background-color: var(--blueWaterColor);
    color: var(--tipBlueColor);
}

.column{
    flex: 1;
    width: 100%;
}

.left{

    text-align: center;
    margin-left: 5.6rem;
    margin: 5.6rem;
}

.right{
    /* width: 40%; */
    text-align: center;
    margin-left: 3.6rem;
    margin: 3.6rem;
}
/* End of Shop */

/* Start of Commission */

/* End of Commission */

/* Start of About Us */
.about-us{
    
    height: 100vh;
    padding-top: 10.6rem ;
    padding-bottom: 7.6rem;
    background-color: var(--grayColorLight);
    display: flex;
    text-align: center;
}

.about-us img{

    width: 550px;
    height: 550px;
    border-radius: 7px;
}

.about-us h1{

    font-size: 88px;
    color: var(--tipBlueColor);
}

.to-left{

    text-align: center;
    margin-left: 3.6rem;
    margin: 3.6rem;
}

.to-right{
    /* width: 40%; */
    text-align: center;
    margin-right: 3.6rem;
    margin: 3.6rem;
}

/* End of About Us */

/* Footer */

footer{
    padding: .5rem;
    background-color: var(--bgColorDark);
    font-family: vanilla;
    font-size: 24px;
    color: var(--tipBlueColor);
    text-align: center;
}

.social-links img{
    width: 35px;
    height: 35px;
    padding: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}
/* End of Footer */


/* ==================Login html====================== */

.logIn{
    padding-top: 20%;
    width: 33%;
    height: 100vh;
    margin-left: 30%;
    display: block;
    text-align: center;
}

input{
    margin: 7px 0px;
}


input[type=text]{
    width:75%;
    height: 25px;
    box-sizing: border-box;
}
input[type=email]{
    width:75%;
    height: 25px;
    box-sizing: border-box;
}
input[type=password]{
    width:75%;
    height: 25px;   
    box-sizing: border-box;
}

.fiil-up a{
    font-size: 1px;
}
.fillButton{
    font-size: 18px;
    font-family: Arial;
    color: var(--tipBlueColor);
    border: var(--blueWaterColor);
    background-color: var(--grayColorDark);
    border-radius: 12px;
}

.fillButton:hover{
    color: var(--skyBlueColor);
    transition: 0s;
}
/* input[type=button], input[type=submit], input[type=reset] {
    float: right;
    background-color: #0f0f0f;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  } */ 

/* ==================End of Login html====================== */

/* Media Queries */

@media only screen and (max-width:600px) {
    .column{
        flex: 100%;
    }
    
}