*{
    padding: 0;
    margin: 0;
    font-family: arial;
    scroll-behavior: smooth;
}

/* Color Variable here */
:root{
    --bgColorDark: #333333;
    --headerColor: #070b09;
    --whiteTextOnDark:rgb(255, 255, 255);
    
    /* Color Palette */
    --grayColorDark: #363738;
    --blueWaterColor: #1D64C2;
    --bleWaterColorTransparent: #1d64c2b9;
    --skyBlueColor: #7fadeb;
    --tipBlueColor: #d9E8FC;
    --grayColorLight: #8792A1;
    
}

/* Fonts Here */
@font-face {
    font-family: Huglove;
    src: url("sources/fonts/Huglove.otf");
}


body{
   background-color: var(--tipBlueColor);
}

/* Navbar starts here */
header{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--blueWaterColor); 
    align-items: center;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
}

header span{
    
    font-family: Huglove;
    font-weight: bold;
    margin-left: 5rem;
    color: var(--tipBlueColor);
    padding: 2rem;
    font-size: 64px;
}

.nav-links{
    margin-right: 7rem;
    text-align: right;
}

.nav-links ul{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 10px;
}

.nav-links li a{
    padding: .5rem;
    font-size: 18px;
    font-family: Verdana;
    text-decoration: none;
    color: var(--tipBlueColor);
}

.nav-links li:hover{
    background-color: var(--grayColorLight);
    transition: .6s;    
}

/* Navbar end Here */

/* Carousel */

.png-carousel{
    padding-top: 10.6rem;
    padding-bottom: 1.6rem;
    text-align: center;
    background-color: var(--bleWaterColorTransparent);
    /* border-radius: 1rem; */
}

.png-carousel h1{
    font-size: 46px;
    color: var(--tipBlueColor);
    font-family: HugLove;
}

.carousel-img{

    display: flexbox;
    padding: .4rem;
    width: 500px;
    height: 500px;
    border-radius: 1rem;
}

/* End of Carousel */

/* Collections */
.collections{

}
/* End of Collections */