
@font-face {
  font-family: hug;
  src: url(../fonts/Huglove.otf);
}
.heading {
  font-size: 3.5rem;
  text-align:   center;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  padding-top: 10rem;
  margin-bottom: 2rem;
}

.heading h2{
    font-size: 1200px;
}

.products .box-container{ 
    display:grid;
    grid-template-columns: repeat(auto-fit, 30rem);
}

.img-products{
    width: 255px;
    object-fit: cover;
} 

.products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap:1.5rem;
  justify-content: center;
}

.products .box-container .box{
  text-align: center;
  padding:2rem;
  box-shadow: var(--box-shadow);
  border:var(--border);
  border-radius: .5rem;
}

.products .box-container .box img{
  height: 25rem;
}

.products .box-container .box h3{
  font-family:hug;
  margin:1rem 0;
  font-size: 2.5rem;
  color:var(--black);
}

.products .box-container .box .price{
  font-size: 2.5rem;
  color:var(--black);
}


.container{
  max-width: 1200px;
  margin:auto;
}

section{
  padding:2rem;
}

.add-product-form{
  max-width: 50rem;
  border-radius: .5rem;
  padding:2rem;
  margin:0 auto;
  margin-top: 2rem;
}
/* center form-fill and style with shadow box*/
.form-fill{
  text-align: center;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap:1.5rem;
  justify-content: center;
}

.form-fill h3{
  font-family:hug;
  font-size: 2.5rem;
  color:var(--black);
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.form-fill input{
  padding:1rem;
  border:var(--border);
  border-radius: .5rem;
  font-size: 1.5rem;
  outline: none;
}

.form-fill input[type="text"]{
  width: 100%;  
  padding: 2rem;
}

.form-fill input[type="file"]{
  width: 100%;  
  padding: 2rem;
}

/* btn hover */
form h3{
  font-family:hug;
  font-size: 2.5rem;
  color:#363738;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.btn:hover{
  background-color: #363738;
  transition: .5s;
  color: #fff;
}

